@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	background-color: #36768c;
}

/* HEADER */

.header {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #c5dff8;
	padding: 10px;
	box-shadow: 0px 1px 5px 1px;
	z-index: 1;
}

.nav_container {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.nav_links {
	display: flex;
	align-items: center;
	gap: 20px;
}

.nav_links > a {
	background-color: #4682a9;
	color: white;
	padding: 16px;
	width: 170px;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	border-radius: 2rem;
	font-weight: 600;
	border: 1px solid transparent;
}

.nav_links > a:hover {
	background-color: #91c8e4;
	color: #000;
	border: 1px solid black;
}

.nav_dropdown {
	display: inline-block;
}

.drop_btn {
	background-color: #4682a9;
	color: #fff;
	padding: 16px;
	font-size: 16px;
	font-weight: 600;
	width: 135px;
	text-align: center;
	border: none;
	border-radius: 2rem;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #4682a9;
	min-width: 135px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 16px;
	font-weight: 600;
	overflow: hidden;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: 16px;
	border: 1px solid transparent;
	color: #fff;
}

.dropdown-content a:hover {
	background-color: #91c8e4;
	color: #000;
	border: 1px solid black;
	border-radius: 0;
}

.nav_dropdown:hover .dropdown-content {
	display: block;
	border-radius: 0 0 16px 16px;
	border: 1px solid transparent;
}

.nav_dropdown:hover .drop_btn {
	background-color: #91c8e4;
	color: black;
	border: 1px solid black;
	border-radius: 2rem 2rem 0 0;
}

/* CARD SECTION */

.card {
	width: 300px;
	height: 40%;
	overflow: hidden;
	border: 8px solid #f6f4eb;
	border-radius: 20px;
	position: relative;
	margin: 0 20px 20px 0;
}

.card_body {
	width: 100%;
	height: 100%;
	right: 0;
	bottom: -100%;
	position: absolute;
	background-color: #1f3d4789;
	backdrop-filter: blur(5px);
	color: #fff;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.5s;
}

.card:hover .card_body {
	bottom: 0;
	border-radius: 10px;
}

.card_title {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
}

.card_sub-title {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 300;
}

.card_info {
	height: 210px;
	list-style: none;
	margin: 20px 0;
	font-size: 13px;
}

.card_info li i {
	color: #000;
}

.card_btn {
	color: #000;
	background-color: #91c8e4;
	border: none;
	outline: none;
	text-transform: capitalize;
	width: 100%;
	height: 40px;
	border-radius: 2rem;
	font-weight: 600;
	font-size: 15 px;
	cursor: pointer;
	transition: 0.2s ease-in;
}

.card_btn:hover {
	background-color: #4682a9;
	color: #fff;
}

/* CAPSTONE PROJECT SECTION */

.capstone_project-container {
	height: 100vh;
	margin-top: 80px;
	padding: 10px 20px 0 20px;
	display: flex;
	flex-direction: row;
}

.todolist {
	background-image: url('./img/javascript/todolist.png');
	background-position: center;
	background-size: cover;
}

.personal_site {
	background-image: url('./img/capstone_project/personal_site.png');
	background-position: center;
	background-size: cover;
}

.classroom_app {
	background-image: url('./img/capstone_project/classroom_app.png');
	background-size: cover;
}

.resume {
	background-image: url('./img/capstone_project/my_resume.png');
	background-size: cover;
}

/* GAMES PROJECT SECTION */

.games_project-container {
	width: 100%;
	height: 100vh;
	border: 2px solid black;
	padding-top: 80px;
	display: flex;
	flex-direction: row;
}

.dice_game {
	background-image: url('/img/javascript/dice_game.png');
	background-position: center;
	background-size: cover;
}

.simon_game {
	background-image: url('/img/javascript/simon_game.png');
	background-position: center;
	background-size: cover;
}

/* HTML PROJECT SECTION */

.html_project-container {
	width: 100%;
	height: 100vh;
	border: 2px solid black;
	padding-top: 80px;
	display: flex;
	flex-direction: row;
}

.birthday_invite {
	background-image: url('./img/html/birthday_invite.png');
	background-position: center;
	background-size: cover;
}

.movie_ranking {
	background-image: url('./img/html/movie_ranking.png');
	background-size: cover;
}

.portfolio {
	background-image: url('/img/html/portfolio.png');
	background-size: cover;
}

/* CSS PROJECT SECTION */

.css_project-container {
	width: 100%;
	height: 100vh;
	border: 2px solid black;
	padding-top: 80px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.spanish_vocabulary {
	background-image: url('/img/css/spanish_vocabulary.png');
	background-size: cover;
}

.mondrian_painting {
	background-image: url('/img/css/mondrian_painting.png');
	background-size: cover;
}

.motivational_poster {
	background-image: url('/img/css/motivational_poster.png');
	background-position: center;
	background-size: cover;
}

.pricing_table {
	background-image: url('/img/css/pricing_table.png');
	background-position: center;
	background-size: cover;
}

.agency {
	background-image: url('/img/css/agency.png');
	background-position: center;
	background-size: cover;
}

.flag {
	background-image: url('/img/css/flag.png');
	background-position: center;
	background-size: cover;
}

.qr_code {
	background-image: url('/img/css/qr_code.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.results_summary {
	background-image: url('./img/css/results_summary.png');
	background-size: cover;
}

/* BOOTSTRAP PROJECT SECTION */

.bootstrap_project-container {
	width: 100%;
	height: 100vh;
	border: 2px solid black;
	padding-top: 80px;
	display: flex;
	flex-direction: row;
}

.tindog_startup {
	background-image: url('/img/bootstrap/tindog_startup.png');
	background-position: center;
	background-size: cover;
}

/* DOM PROJECT SECTION */

.dom_project-container {
	width: 100%;
	height: 100vh;
	border: 2px solid black;
	padding-top: 80px;
	display: flex;
	flex-direction: row;
}

/* JQUERY PROJECT SECTION */

.jquery_project-container {
	width: 100%;
	height: 100vh;
	border: 2px solid black;
	padding-top: 80px;
	display: flex;
	flex-direction: row;
}

/* FOOTER SECTION */
footer {
	background-color: #c5dff8;
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
