@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: auto;
    background-color: rgba(127, 255, 212, 0.677);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_text-container {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}

main {
    border: 1px solid black;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 1px;
    background-color: aliceblue;
    
}

main section:nth-child(1) h2 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 5px;
}

main section:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
}

main section:nth-child(2) div {
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
}

main section:nth-child(2) div:nth-child(1) {
    border-left: none;
}

main section:nth-child(2) div:nth-child(1),
main section:nth-child(2) div:nth-child(2),
main section:nth-child(2) div:nth-child(3),
main section:nth-child(2) div:nth-child(4),
main section:nth-child(2) div:nth-child(5) {
    border-right: none;
}

main section:nth-child(2) div h2 {
    text-align: center;
    border-bottom: 1px solid black;
}

main section:nth-child(2) div p {
    text-align: center;
}


.day_container > p:nth-child(2) {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.day_container > p:nth-child(3) {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.day_container > p:nth-child(4) {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.day_container > p:nth-child(5) {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.day_container > p:nth-child(6) {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.day_container > p:nth-child(7) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_container > p:nth-child(2) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_container > p:nth-child(3) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.time_container > p:nth-child(4) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_container > p:nth-child(5) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.time_container > p:nth-child(6) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_container > p:nth-child(7) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_container > p:nth-child(8) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.time_container > p:nth-child(9) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_container > p:nth-child(10) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.time_container > p:nth-child(11) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_container > p:nth-child(12) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_container > p:nth-child(13) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.time_container > p:nth-child(14) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.course_desc-container > p:nth-child(2) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_desc-container > p:nth-child(3) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.course_desc-container > p:nth-child(4) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_desc-container > p:nth-child(5) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.course_desc-container > p:nth-child(6) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_desc-container > p:nth-child(7) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_desc-container > p:nth-child(8) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.course_desc-container > p:nth-child(9) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_desc-container > p:nth-child(10) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.course_desc-container > p:nth-child(11) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_desc-container > p:nth-child(12) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_desc-container > p:nth-child(13) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.course_desc-container > p:nth-child(14) {    
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_container > p:nth-child(2) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_container > p:nth-child(3) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.room_container > p:nth-child(4) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_container > p:nth-child(5) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.room_container > p:nth-child(6) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_container > p:nth-child(7) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_container > p:nth-child(8) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
    border-bottom: 1px solid black;
}

.room_container > p:nth-child(9) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_container > p:nth-child(10) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.room_container > p:nth-child(11) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_container > p:nth-child(12) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_container > p:nth-child(13) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.room_container > p:nth-child(14) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor_container > p:nth-child(2) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor_container > p:nth-child(3) {
    border-bottom: 1px solid black; 
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor_container > p:nth-child(4) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor_container > p:nth-child(5) {
    border-bottom: 1px solid black; 
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor_container > p:nth-child(6) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor_container > p:nth-child(7) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor_container > p:nth-child(8) {
    border-bottom: 1px solid black; 
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor_container > p:nth-child(9) { 
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor_container > p:nth-child(10) {
    border-bottom: 1px solid black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.instructor_container > p:nth-child(11) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.instructor_container > p:nth-child(12) {
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor_container > p:nth-child(13) {
    border-bottom: 1px solid black;
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor_container > p:nth-child(14) {
    height: 30px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_container {
    border: 1px solid black;
    text-align: center;
    background-color: aliceblue;
    box-shadow: 0 0 2px 1px;
    margin: 1rem 2rem;
}

.video_container h2 {
    margin: 1rem 0;
    text-decoration: underline;
}

video {
    width: 100%;
}

@media (max-width:1024px) {


    main section:nth-child(2) div h2 {
        height: 80px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
     }

      .course_desc-container p {
        font-size: 11.1px;
     }
}

@media (max-width:768px) {
    html {
        font-size: 80%;
    }

    main section:nth-child(2) div h2 {
       height: 80px;
       width: auto;
       display: flex;
       justify-content: center;
       align-items: center;
    }

    .course_desc-container p {
        font-size: 9px;
     }

     .time_container p {
        font-size: 9px;
     }

     .room_container p {
        font-size: 10px;
     }

     .instructor_container p {
        font-size: 10px;
     }
}   

@media (max-width:426px) {
    html {
        font-size: 54.5%;
    }

    img {
        width: 150px;
        height: 150px;
    }

    .header {
        flex-wrap: wrap;
    }


    main section:nth-child(2) div p {
        font-weight: 500;
    }

    .course_desc-container p {
        font-size: 7px;
     }
}

@media (max-width:376px) {
    html {
        font-size: 49%;
    }
}

@media (max-width:321px) {
    html {
        font-size: 41%;
    }
}