@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: auto;
    background-color: rgba(127, 255, 212, 0.677);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_text-container {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}

main {
    border: 1px solid black;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 1px;
    background-color: aliceblue;
    
}

main section:nth-child(1) h2 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 5px;
}

main section:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
}

main section:nth-child(2) div {
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
}

main section:nth-child(2) div:nth-child(1) {
    border-left: none;
}

main section:nth-child(2) div:nth-child(1),
main section:nth-child(2) div:nth-child(2),
main section:nth-child(2) div:nth-child(3),
main section:nth-child(2) div:nth-child(4),
main section:nth-child(2) div:nth-child(5) {
    border-right: none;
}

main section:nth-child(2) div h2 {
    text-align: center;
    border-bottom: 1px solid black;
}

main section:nth-child(2) div p {
    text-align: center;
}


.day_container > p:nth-child(2) {
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.day_container > p:nth-child(3) {
    height: 48.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.day_container > p:nth-child(4) {
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.day_container > p:nth-child(5) {
    height: 48.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.day_container > p:nth-child(6) {
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.day_container > p:nth-child(7) {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_container > p:nth-child(3) {
    border-bottom: 1px solid black;
}

.time_container > p:nth-child(5) {
    border-bottom: 1px solid black;
}

.time_container > p:nth-child(8) {
    border-bottom: 1px solid black;
}

.time_container > p:nth-child(10) {
    border-bottom: 1px solid black;
}

.time_container > p:nth-child(13) {
    border-bottom: 1px solid black;
}

.time_container > p:nth-child(14) {
    height: 30px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_desc-container > p:nth-child(3) {
    border-bottom: 1px solid black;
}

.course_desc-container > p:nth-child(5) {
    border-bottom: 1px solid black;
}

.course_desc-container > p:nth-child(8) {
    border-bottom: 1px solid black;
}

.course_desc-container > p:nth-child(10) {
    border-bottom: 1px solid black;
}

.course_desc-container > p:nth-child(13) {
    border-bottom: 1px solid black;
}

.course_desc-container > p:nth-child(14) {    
    height: 30px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_container > p:nth-child(3) {
    border-bottom: 1px solid black;
}

.room_container > p:nth-child(5) {
    border-bottom: 1px solid black;
}

.room_container > p:nth-child(8) {
    border-bottom: 1px solid black;
}

.room_container > p:nth-child(10) {
    border-bottom: 1px solid black;
}

.room_container > p:nth-child(13) {
    border-bottom: 1px solid black;
}

.room_container > p:nth-child(14) {
    height: 30px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor_container > p:nth-child(3) {
    border-bottom: 1px solid black; 
}

.instructor_container > p:nth-child(5) {
    border-bottom: 1px solid black; 
}

.instructor_container > p:nth-child(8) {
    border-bottom: 1px solid black; 
}

.instructor_container > p:nth-child(10) {
    border-bottom: 1px solid black; 
}

.instructor_container > p:nth-child(13) {
    border-bottom: 1px solid black; 
}

.instructor_container > p:nth-child(14) {
    height: 30px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1024px) {
    main section:nth-child(2) div h2 {
        height: 80px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
     }

     .course_desc-container p {
        font-size: 11.1px;
     }

     .course_desc-container p:nth-child(2) {
        padding: 7.3px 0 ;
     }


     .course_desc-container p:nth-child(4) {
        padding: 7.3px 0 ;
     }

     .course_desc-container p:nth-child(6) {
        padding: 7px 0 ;
     }  

     
     .course_desc-container p:nth-child(7) {
        padding: 3.5px 0 ;
     }  

     .course_desc-container p:nth-child(9) {
        padding: 7.5px 0 ;
     }  

     .course_desc-container p:nth-child(11) {
        padding: 3.5px 0 ;
     }  

     .course_desc-container p:nth-child(12) {
        padding: 7px 0 ;
     }  
}

@media (max-width:768px) {
    html {
        font-size: 70%;
    }

    main section:nth-child(2) div h2 {
       height: 80px;
       width: auto;
       display: flex;
       justify-content: center;
       align-items: center;
    }

    .day_container > p:nth-child(2) {
        height: 68.2px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .time_container > p:nth-child(2) {
        padding: 4px 0 5px 0;
    }

    .time_container > p:nth-child(3) {
        padding: 9px 0 15.5px 0;
    }

    .course_desc-container > p:nth-child(3) {
        padding: 0 1px;
    }
    
    .room_container > p:nth-child(2) {
        padding: 4px 0 5px 0;
    }

    .room_container > p:nth-child(3) {
        padding: 9px 0 15.5px 0;
    }

    .instructor_container > p:nth-child(2) {
        padding: 4px 0 5px 0;
    }
    
    .instructor_container > p:nth-child(3) {
        padding: 9px 0 15.5px 0; 
    }

    .day_container > p:nth-child(3) {
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .time_container > p:nth-child(7) {
        padding: 17px 0 0 0;
    }

    .day_container > p:nth-child(4) {
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .room_container > p:nth-child(7) {
        padding: 17px 0 0 0;
    }

    .instructor_container > p:nth-child(7) {
        padding: 17px 0 0 0;
    }

    .day_container > p:nth-child(5) {
        height: 34.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .time_container > p:nth-child(12) {
        padding: 18px 0 0 0;
    }

    .time_container > p:nth-child(13) {
        padding: 0 0 15.5px 0;
    }

    .room_container > p:nth-child(12) {
        padding: 18px 0 0 0;
    }

    .room_container > p:nth-child(13) {
        padding: 0 0 15.5px 0;
    }

    .instructor_container > p:nth-child(12) {
        padding: 18px 0 0 0;
    }

    .instructor_container > p:nth-child(13) {
        padding: 0 0 15.5px 0;
    }

    .day_container > p:nth-child(6) {
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
    }
}   

@media (max-width:426px) {
    html {
        font-size: 54.5%;
    }

    img {
        width: 150px;
        height: 150px;
    }

    .header {
        flex-wrap: wrap;
    }


    main section:nth-child(2) div p {
        font-weight: 500;
    }

    main section:nth-child(2) div h2 {
        padding: 0 2px;
    }

    .day_container > p:nth-child(2) {
        height: 65px;
    }

    .time_container > p:nth-child(3) {
        padding-bottom: 21px;
    }

    .room_container > p:nth-child(3) {
        padding-bottom: 21px;
    }

    .course_desc-container > p:nth-child(2) {
        padding-bottom: 0.5px;
    }

    .instructor_container > p:nth-child(3) {
        padding-bottom: 21px;
    }

    .day_container > p:nth-child(3) {
        height: 52px;
    }

    .time_container > p:nth-child(4) {
        padding-bottom: 13px;
    }

    .time_container > p:nth-child(5) {
        padding-bottom: 12px;
    }

    .room_container > p:nth-child(5) {
        padding: 14px 0 11px 0;
    }

    .instructor_container > p:nth-child(5) {
        padding: 14px 0 11px 0;
    }   

    .day_container > p:nth-child(4) {
        height: 56px;
    }

    .course_desc-container > p:nth-child(6) {
        padding-bottom: 4px;
    }

    .day_container > p:nth-child(5) {
        height: 52px;
    }

    .time_container > p:nth-child(9) {
        padding: 2px 0 12px 0;
    }

    .time_container > p:nth-child(10) {
        padding: 0 0 12px 0;
    }

    .room_container > p:nth-child(9) {
        padding: 2px 0 12px 0;
    }

    .room_container > p:nth-child(10) {
        padding: 0 0 12px 0;
    }

    .instructor_container > p:nth-child(9) {
        padding: 2px 0 12px 0;
    }

    .instructor_container > p:nth-child(10) {
        padding: 0 0 12px 0;
    }

    .day_container > p:nth-child(6) {
        height: 73px;
    }

    .course_desc-container > p:nth-child(11) {
        padding-bottom: 5px;
    }

    .course_desc-container > p:nth-child(12) {
        padding-bottom: 3px;
    }
}

@media (max-width:376px) {
    html {
        font-size: 49%;
    }

    .day_container > p:nth-child(2) {
        height: 62px;
    }
    .course_desc-container > p:nth-child(2) {
        padding-bottom: 5px;
    }

    .day_container > p:nth-child(3) {
        height: 48px;
    }
    .course_desc-container > p:nth-child(4) {
        padding-bottom: 3px;
    }

    .day_container > p:nth-child(4) {
        height: 52px;
    }
    .course_desc-container > p:nth-child(6) {
        padding-bottom: 6px;
    }

    .day_container > p:nth-child(5) {
        height: 49px;
    }
    .course_desc-container > p:nth-child(9) {
        padding-bottom: 3px;
    }

    .day_container > p:nth-child(6) {
        height: 68px;
    }
    .course_desc-container > p:nth-child(11) {
        padding-bottom: 8.5px;
    }
}

@media (max-width:321px) {
    html {
        font-size: 41%;
    }

    .day_container > p:nth-child(2) {
        height: 60px;
    }
    .course_desc-container > p:nth-child(2) {
        padding-bottom: 7.5px;
    }

    .day_container > p:nth-child(3) {
        height: 47.5px;
    }
    .course_desc-container > p:nth-child(4) {
        padding-bottom: 5px;
    }

    .day_container > p:nth-child(4) {
        height: 49px;
    }

    .day_container > p:nth-child(5) {
        height: 47px;
    }
    .course_desc-container > p:nth-child(9) {
        padding-bottom: 5px;
    }

    .day_container > p:nth-child(6) {
        height: 65.5px;
    }
    .course_desc-container > p:nth-child(11) {
        padding-bottom: 10px;
    }
}